
.card-class{
    width: 90%;
    padding-left: 8%;
}
.form-group{
    width: 500px;
}
.btn-container{
    padding-left: 45%;
}
.form-class{
    padding-left: 10%;
}
.w-full{
    width: 90%;
    padding-left: 8%;
    padding-bottom: 5px;
}