<div>
    <mat-toolbar>
      <button routerLink="/"  mat-icon-button color="primary" style="margin-right: 5px;"  routerLinkActive="router-link-active" >
        <mat-icon mar>home</mat-icon>
      </button>
      <span>WorkPathWays.in</span>
      <span class="example-spacer"></span>
      <button>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWsLTHWKgnxNgTTcDkDbcHlfNskTpgqZFNMRvkskhtQXgzrqdctczmTTbLtMCGJhQzNjLqDDb" target="_blank" mat-icon-button>
        <mat-icon>mail</mat-icon></a>
      </button>
    </mat-toolbar>
</div>

<div class="table-conatiner">
  <router-outlet></router-outlet>
</div>


