/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles.css or styles.scss */
.toast-success {
    background-color: #28a745; /* Green background for success */
    color: white; /* White text */
  }
  
  .toast-error {
    background-color: #dc3545; /* Red background for error */
    color: white; /* White text */
  }

/* 
.class-main {
  background-color:  white;
  border-radius: 10px;
  padding: 20px;
  color: white;
  height: max-content;
} */

.btn{
  padding: 10px;
 padding-left: 20px;
 padding-right: 20px;
  border-radius: 25px;
  cursor: pointer; 
  color:white ;
  background-color: rgb(53, 53, 138) ;
}


.class-main {
  /* background-color: white;  */
  background-image: url("https://media.istockphoto.com/id/1370544962/photo/white-paper-background-fibrous-cardboard-texture-for-scrapbooking.jpg?s=612x612&w=0&k=20&c=6JMvJuAMLW0FVsB0iiPbKX8I6jBm2h_-ZZdMtrgvxo0="); /* Replace with the actual path to your image */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  border-radius: 10px;
  padding: 20px;
  color: white;
  height: max-content;
}


